<!DOCTYPE html>
<div class="container-fluid container-fluid-custom py-md-3 mb-7">
  <main>
    <div class="row py-md-4 text-center justify-content-center">

      <div class="col-md-7 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-4 fw-bold mb-4 position-relative home-title">
          Write your thoughts down as they come to you.
        </h1>
        <p class="fs-5 mb-4">
          Notes is a simple to use free note taking app.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's FREE!</a>
      </div>
    </div>
  </main>
</div>